<div class="h-screen">
  <div>
      <div>
         logo
      </div>
      <div>
        <span>.chat em tempo real</span>
        <h1>Converse Connosco em Tempo real</h1>
        <p>estamos aqui para esclarecer dúvidas e orientar a melhor solução para si, de forma simples e rápida.</p>

        <p>botão Iniciar o chat  Tempo médio de resposta - 2min</p>
      </div>
  </div>

  <div>
    <div>
      <h2>Disponivél 24/7</h2>
      <p>O nosso serviço ajuda-o em qualquer altura, sem complicações</p>
    </div>
    <div>
      <h2>Equipa humana</h2>
      <p>Quando necessário, um agente humano assume a conversa</p>
    </div>
    <div>
      <h2>Registros de histórico</h2>
      <p>
        Mantenha as interações organizadas e seguras
      </p>
    </div>
  </div>
  <footer> Copyright Angola Cables - Todo os Direitos reservados.</footer>
</div>
